[2014-02-06 02:18] nrchandan opened #3 "Ensure the VMManager service is up on the lab VM before adapterserver returns 'success' for the init_vm."
Ensure the VMManager service is up on the lab VM before adapterserver returns 'success' for the init_vm.

This will ensure that LabManager.test_lab action which invokes the VMManager for releasing a lab (into test environment) should not fail.

Currently,  LabManager executes test_lab multiple times and most of the it is successful because the service starts up during this time.

[2014-02-18 06:47] nrchandan opened #4 "LabManager's exception string is not correct"
LabManager can raise two different exceptions when trying to parse json file.  The string passed during exception raise is not getting logged by Controller, probably because the string passing mechanism is not correct.  This needs to be fixed.

[2014-02-27 04:08] nrchandan opened #5 "Services are not secure"
Services (VMManagerServer, CentOSVZAdapterServer, ControllerServer) are currently unauthenticated and communications are insecure.  Both need to be addressed.

[2014-03-04 06:26] nrchandan opened #6 "Undeploy action called before new deploy successful"
Currently, undeploy action is called even before new deploy is successful.  This behavior should be modified to first deploy the lab and then remove the old deployment.

[2014-03-04 11:28] nrchandan opened #7 "LabManager's pull-repo is not working"
Pulling a repo for which a cache already exists seems to fail if labspec.json is modified in the upstream.  Not sure if it fails for other changes also.

2014-03-04 04:52:59 PM - ovpl - DEBUG - LabManager.get_lab_reqs()
error: Your local changes to 'scripts/labspec.json' would be overwritten by merge.  Aborting.
Please, commit your changes or stash them before you can merge.

[2014-03-05 06:31] #7 closed, assigned to nobody

[2014-05-13 07:40] jayanthsagar opened #8 "OVPL controller timeout for large sized repo"
When OVPL is trying to release a lab of 1+ GB sized repositories the controller throws back "server is taking too long to respond", but OVPL is cloning the repo in background, if there is no network issues, the repo gets cloned and lab gets deployed successfully on a container but the developer doesn't know the details regarding the status of the lab.

[2014-09-22 18:49] bollu opened #22 "Unable to test OVPL - repo does not exist?"
make test:

[code]

the `git clone` run separately:

[code]

did I lose my pull / push rights? my ssh keys are registered with bitbucket, so I'm assuming I'm using an outdated repo URL. could someone point me to the new URL please?

[2014-09-23 10:20] #22 closed, assigned to nobody

[2014-09-23 11:00] bollu opened #23 "Unable to resolve DNS names within OpenVZ container"
Hey!

So, now, I'm able to clone the github repo, and the VM launches too. However, the name resolution __within__ the VM doesn't seem to be working, and I'm stumped as to why this is happening. Since the VM's are all generated from the same pre-baked template, I see no reason as to why this should not work. However, weirdly enough, It's not working.

I ```cat```ed the vmmanager.log. Here are the

[2014-09-23 11:11] bollu opened #24 "VM proxy is set to http://proxy.iiit.ac.in:8080 by default."
Discovered this while I was trying to fix [this bug that I was facing](https://github.com/vlead/ovpl/issues/23). The http_proxy is baked as ```http://proxy.iiit.ac.in:8080``` in the VM's that are created by the ```CentOSVZAdapter``` (since they all use the same base image located at ```/vz/template/cache ```. This needs to be changed at some point the future / made declarative IMHO.

[2015-02-16 10:22] apurv111 opened #28 "ovpl does not do a git pull everytime I commit changes to lab sources and try to install the lab again."
I tried setting up database lab multiple times today after making changes to my labspec.json.
For the first few time I was thinking something wrong with my labspec and continued modifying the same. Later came to know from sripathi, its a known issue. Raising an issue to notify others.

Title explains it all. Discussed with sripathi and anon. Raising an issue for the same.

[2015-02-16 13:35] apurv111 opened #29 "pre_build in labspec.json fails!"
I am running a shell script to install packages required for a lab with in pre_build of the labspec.json.

I have tested the script on a vanila ubuntu container. The script runs fine without throwing any error.

The same script when passed to ovpl via labspec.json, installation fails. I have set the execute permissions too.
"pre_build": ["sh pre-build-script.sh "],

My script "pre-build-script.sh"

[2015-02-26 09:03] ecthiender commented on #29
Can you attach the logs of OVPL when it fails?

[2015-02-26 10:01] anhsirksai commented on #29
sure!! These are from yesterday evening run.

02/25/2015 05:54:31 PM: DEBUG: /root/ovpl/src/adapters/CentOSVZAdapter.py:195 -> vm_id = 58136, src_dir=/root/labs/databases-iiith, dest_dir=/vz/root/58136/root/labs
02/25/2015 05:54:31 PM: DEBUG: /root/ovpl/src/adapters/CentOSVZAdapter.py:168 -> Command = rsync -arz --progress /root/labs/databases-iiith /vz/root/58136/root/labs
02/25/2015 05:54:31 PM:

[2015-02-26 10:22] ecthiender commented on #29
Hey, not the logs printed on the screen. Can you paste the logs from the
logs/ovpl.log file?

On Thu, Feb 26, 2015 at 3:31 PM, sai krishna <notifications@github.com>
wrote:

[2015-02-26 11:01] anhsirksai commented on #29
I got these from the log file!!  Did I miss some thing??
/root/logs/<log file on 25th feb>

​10.2.56.212 : user/pwd: vlead/1

[2015-02-26 12:05] ecthiender commented on #29
Okay. Thanks! I'll look into it. But looks like 'Connection refused', so a
probably some network/internet issue.

On Thu, Feb 26, 2015 at 4:31 PM, sai krishna <notifications@github.com>
wrote:

[2015-02-26 12:19] anhsirksai commented on #29
observed this. Not an actual issue. but still ovpl does this wired
configuration by default.

When a container is created with ovpl :
/etc/apt/apt.conf looks like this :
#Acquire::http::Proxy "http://proxy.iiit.ac.in:8080";
Acquire::http::Proxy "http://proxy.iiit.ac.in:8080";
Acquire::https::Proxy "https://proxy.iiit.ac.in:8080";

On Thu, Feb 26, 2015 at 5:35 PM, Anon Ray <notifications@github.com

[2015-03-02 05:01] travula commented on #29
ADS is unable to contact the VMManager service to install the lab. This is
a network issue. Can you please give the github url of the lab you are
deploying.

On Thu, Feb 26, 2015 at 5:49 PM, sai krishna <notifications@github.com>
wrote:

[2015-03-04 10:04] anhsirksai commented on #29
Now ADS is able to contact the VMManager. The pre-build script is being called.

Although the script itself is fine, With further enhancements(capturing the exit code and handling it in pre-build-script.sh) also I could reproduce the same issue.

#!/bin/sh
if [ "$?" -eq "0" ]; then
(sudo apt-get update; sudo apt-get install -y make m4 build-essential gcc gfortran libssl-dev python-software-propert

[2015-03-04 10:15] anhsirksai commented on #29
To manually install the lab: the order of scripts to be executed:

pre-build-script.sh
change-shell.sh
make all -C ../src
sh start_sage

I must say, the lab is deployed after this step.

[2015-04-15 06:09] travula opened #36 "Relook at the module to execute commands"
The module used to execute commands currently uses subprocess module of python.  This should be relooked to use other platforms like fabric or plumbum to make execution of commands robust.

[2015-04-15 06:15] travula opened #37 "import of different modules does not work when used at levels below src directroy."
Whenever an import is made of a different module in a module under 'src', the import fails.  This has to be rectified.

Note:
Currently 'pythonpath' is set in __init__.py in every sub directory.

[2015-04-16 04:00] travula opened #38 "Ability to deploy multiple labs at the same time"
Currenlty, only one request to deploy a lab is respected. Others requests during processing of the initial request are not taken care of.

[2015-04-16 04:13] travula opened #39 "Pull does not work"
Pull does not work when git version is at 1.7, ADS will be able to pull when git is upgraded to 2.0.1

[2015-04-16 04:13] #39 closed

[2015-04-17 03:56] ecthiender commented on #24
This commit fixes the issue: 435d55a2d2e3510474f384799ad950a74c6df5c7

[2015-04-17 03:56] #24 closed

[2015-04-17 05:07] travula commented on #39
ADS will be able to pull when git is upgraded to 2.0.1

[2015-04-17 05:16] travula commented on #28
#39

[2015-04-17 05:17] #28 closed

[2015-04-17 05:28] ecthiender commented on #23
#24 Captures this and is fixed.

[2015-04-17 05:28] #23 closed

[2015-04-17 05:44] travula commented on #29
Can you guys create an ansible script to deploy this lab?

[2015-04-17 06:17] ecthiender opened #40 "[AWSAdapter] - Use key file path instead of key file name"
In the AWSAdapter, currently the config file takes in the key file name and the adapter code assumes the key file is the current directory and assumes it is a .pem file(attaches a .pem extension to the end of the key file name). This should be changed to have the entire key file path in the config file. Then the adapter can be agnostic about the type and location of the key file.

[2015-04-17 06:35] travula commented on #29
ADS can be enhaced to deploy a lab using ansible.

[2015-04-17 06:38] travula commented on #8
We should use web sockets to display to enable communication both ways. (server - client)

[2015-04-17 07:29] ecthiender commented on #8
This would not solve the issue right. The issue is when ADS is cloning a
repo and the repo is too large(~>1GB), it will take a lot of time for it to
clone and in the meantime ADS times out and as a consequence, the lab
installation fails.

Even if we have websockets for two way communication (so that the server
can push the logs to the client), it is not going to solve this issue. We
have to handl

[2015-04-17 12:19] ecthiender commented on #3
This is ensured by AWSAdapter's current implementation. Internally it uses one method to check if the service is up, and then only return the control back to the AdapterServer. Maybe that internal method can be part of the BaseAdapter so that all the adapters can leverage the function.

[2015-04-20 05:57] ecthiender opened #41 "Paths to components are sometimes dynamically deduced, and in some places it is hardcoded"
Bring consistency to avoid confusion and potential problems regarding paths to components.

For example, in copying OVPL sources, the adapters deduces the path of the OVPL directory and copies them. But in starting VMManager, the path to the VMManager module is hardcoded in a settings.py
All of these can be refactored.

[2015-04-20 06:19] ecthiender opened #42 "VMManager service will fail to start if OVPL repo is cloned in some other name"
VMManager service will fail to start if OVPL repo is cloned in some other name, and appropriate path to VMManager script value is not changed in settings.py. This is tricky, as settings.py is version-controlled changing this file is not a viable solution because it might break other woking code.

This is related to: #41 . Fixing #41 should fix this.

[2015-04-20 06:21] ecthiender opened #43 "All the configuration settings specific to each adapter should be in separate files and be part of config directory."
All the configuration settings specific to each adapter should be in separate files and be part of config directory. Also, all config files should be sample.

[2015-04-20 06:24] ecthiender commented on #8
Thinking about it more, maybe having websocket logs solve this issue, the browser won't wait on a traditional HTTP method to return (in which it usually times out after ~10 mins). There would be a websocket connection which would keep updating the client(browser) about the current happenings.

Hence the user might actually see that clone is taking such amount of time. Having websockets based progr

[2015-04-20 07:45] #40 closed

[2015-04-20 09:31] travula opened #44 "Lint cleanup"
Run a python lint on all the files to clean up code according to PEP8 guidelines.

[2015-04-20 11:27] ecthiender opened #45 "[user-auth] implement email check of authorized users"
Right now in user authentication(user-auth branch), a person has no way finding out if he is authorized to deploy a lab before trying log in.
He/she has to attempt to login(go through the Persona flow) and then only know if they are authorized to deploy labs.

We can implement a check on the same login page, where they enter their email to check if they are an authorized user of ADS.

[2015-04-21 04:34] travula opened #46 "Refactor settings.py so that configuration for each adapter goes to a corresponding config file."

[2015-04-21 05:18] travula opened #47 "Simultaneous use of CentOSVZAdapter will cause ip address conflicti"

[2015-04-27 11:25] travula opened #48 "shell script for running the services"
Write a script which starts ADS services.

[2015-04-27 11:43] travula opened #49 "Exact error messages when lab deployment fails"
When a lab deployment fails due to some step(s) mentioned in the scripts provided by the lab developer, ADS does not give the exact error messages output by those steps.

ADS just says, lab script execution step returned non-zero exit status. This error message is not really helpful for the lab developer/integrator to debug their scripts.

Fix ADS to capture the output/exact error messages from th

[2015-04-27 12:27] ecthiender opened #50 "[AWSAdapter] - Move from IAM credentials to IAM-based roles"
IAM roles are better suited to access AWS resources by non-human entities.
http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-for-amazon-ec2.html
http://docs.aws.amazon.com/IAM/latest/UserGuide/IAMBestPractices.html#use-roles-with-ec2

Steps needed to modify AWSAdapter to work with IAM role:
* Remove the code that uses distributed credentials(config/settings., etc)
* Remove the parameter

[2015-04-28 04:04] ecthiender opened #51 "Research authentication among ADS services"
Read up/research on how to do authentication among the ADS services. Maybe search for authentication among micro-services

[2015-04-28 04:05] ecthiender commented on #51
Related to #5

[2015-04-28 04:05] ecthiender commented on #5
related to #51

[2015-04-28 04:07] ecthiender opened #52 "Implement facility to execute lab life-cycle management steps"
Implement ability to execute:
1. Start script
2. Stop script
3. Backup script
4. Restore script

[2015-04-28 04:16] ecthiender opened #53 "Define backup/restore/start/stop scripts"
Define filenames, output etc. in details.

[2015-04-28 04:29] travula commented on #48
Currently, makefile is used to start all the services related to ADS.  The idea of make is to build the executables/. We need to come with an alternative where
a) a shell script is created.
b) The functionality of this scripts is :
  - start all the services
  - stop all the services
  - start an individual service
 - stop an individual service.

[2015-04-28 05:28] travula commented on #49
execute_commad executes the command and logs the error. Apparently the error i sproperly displayed.

Also, ose error not defined in LabActionScript.

[2015-04-28 11:23] ambikakaul commented on #48
A simple shell script that starts and stops all the services has been implemented. Need to figure out how to start and stop an individual service.

[2015-04-29 11:27] ambikakaul commented on #48
As per the discussion of today, following changes were made in the bash script :
1) Individual process ids are stored so that while stopping the services, a cleaner and precise code can be written and only specific processes are terminated.
2) Each service is represented as a variable,  so that it becomes easy for us to change its path or  start and stop an individual service from command prompt.

[2015-04-29 13:25] khushpreet-kaur commented on #44
Current Status:
       modified:   Controller.py
	modified:   LabManager.py
	modified:   Singleton.py
	modified:   State.py
	modified:   VMPoolManager.py
        modified:   __init__.py

Other than these files under ovpl/src are not updated yet.

[2015-04-30 09:09] khushpreet-kaur commented on #44
Current Status: All the python files under /ovpl/src are cleaned up according to pep8 code conventions.

	modified:   ControllerServer.py
        modified:   VMPool.py
        modified:   VMPoolServer.py
	modified:   VMProxy.py

[2015-05-01 05:39] travula opened #55 "Authenticating between different services that make up ADS"
Currently, there is no mechanism for authenticating one service with the other.  Though the services are not publicly available, these could be still be accessed within the subnet.

[2015-05-01 05:42] ecthiender commented on #55
already listed. related to: #5 and #51

So closing this.

[2015-05-01 05:42] #55 closed

[2015-05-01 05:51] travula commented on #52
The functionality of life cycle management of ADS is achieved through the above scripts

[2015-05-01 06:00] ecthiender commented on #53
Exists here: https://bitbucket.org/vlead/vlead/src/bacd4ff8255f17971701a6e0e45fb7a3d0b037d7/projects/2014-phase2-proposal/definition-of-levels.org?at=master

[2015-05-05 04:59] madhavipuliraju commented on #49
I tested  with the sample python code and also integrated the same code in =execute_commands.py= file in ADS.
I noticed that =subprocess.check_output()= function is not returning any specific error message, but it simply returns the exit status code either "0" (if it is sucess) or "non-zero" value (if it fails).
when I ran the sample python code by passing wrong command i.e instead of =ssh <userna

[2015-05-05 06:18] khushpreet-kaur commented on #44
Current Status: all python files under /ovpl/src/VMManager are done except LabActionRunner.py.

	modified:   ../VMManager/LabActionScript.py
	modified:   ../VMManager/VMManager.py
	modified:   ../VMManager/VMManagerServer.py
	modified:   ../VMManager/__init__.py

[2015-05-05 09:09] khushpreet-kaur commented on #44
Current Status: all python files under /ovpl/src/utils are done.

        modified:   client.py
	modified:   envsetup.py
	modified:   execute_commands.py
	modified:   fake_request.py
	modified:   git_commands.py
        modified:   __init__.py

[2015-05-06 05:24] travula opened #56 "[CentOSVZAdapter] - creation of container fails, when an IP is used - which already is assigned to a stopped container."
Currently, an IP is usable if it it not pingable.  An ip is not pingable though it is assgined to a stopped container.  But, openvz cannot create a container when a IP assigned to a stopped container is used while createing a new container.

[2015-05-06 06:54] ecthiender opened #57 "[CentOSVZAdapter] [CentOSBridgeVZAdapter] specifying OS which is not supported, silently fails lab deployment - gives misleading errors"
When an OS is specified in the labspec which is not supported, the `find_os_template` function in `CentOSVZAdapter` and `CentOSBridgeVZAdapter` silently returns from the function instead of raising and exception.
As a result, the error is caught in `construct_vzctl_args` as the `os_template` is set to `None`.

More specifically, the following error is thrown:
[code]

**FIX**: `find_os_template` sh

[2015-05-06 12:20] travula opened #58 "Categorize the log messages to either debug, info, warning and error"
Currently most of the log messages are debug messages.  These have to be carefully looked at and categorized accordingly: debug, info, warning, error.

[2015-05-06 12:24] travula opened #59 "Enabling two way communication between the services."
In a http request/response, there is no way to know the status of the request until a response. This mechanism is not useful in all situations.  When a request taked a longer time, it would be a good idea to provide the status of the request being processed. This can be achieved using websokets.

[2015-05-06 12:25] travula opened #60 "Run ADS on port 80"
Currently, ADS runs on port 8080. Since this a publicly available url, it should on port 80.

[2015-05-06 20:03] khushpreet-kaur commented on #44
Current Status:  All python files under /src/http_logging are done except http_logging_server.py

modified:   __init__.py
modified:   helper.py
modified:   http_logger.py
modified:   test/test.py

[2015-05-12 04:07] khushpreet-kaur commented on #44
Current Status: First round for lint clean up is done for all the python files under /src.
Final modified files are:

modified: http_logging_server.py
modified: CentOSVZAdapter.py
modified: DummyAdapter.

TODO: Lint cleanup for CentOSBridgedNetwork.py (As first round of Lint clean up)

[2015-05-12 05:27] khushpreet-kaur commented on #44
One more python file under /script (containers_destroy.py) is done.

Current status: Tests for CentOSVZAdapter, AWSAdapter is done.

modified: test_CentOSVZAdapter.py
modifiesd __init__.py

- Tests for AWSAdapter is already cleaned up along with implementation by Anon and Ambika.
- Test for CentOSBridgedNetwork needs to be done.

[2015-05-12 05:31] khushpreet-kaur commented on #44
CentOSBridgeVZAdapter.py  and test_CentOSBridgeVZAdapter.py is implemented by Sripathi and Prakash.
So, assigning these files to Sripathi.

[2015-05-28 07:12] ecthiender commented on #57
@madhavipuliraju please update the status of the issue! :)

[2015-05-28 07:13] ecthiender commented on #56
@ksripathi what is the current status on this? You will implement the DHCP-like thing? Maybe we can discuss this before you start implementing?

[2015-05-28 07:14] khushpreet-kaur commented on #58
@travula, I started thinking about this and have a question that how do I categorize debug, info and waring in log messages.

[2015-05-28 07:14] ecthiender commented on #52
I meant - implementing the capability in ADS to execute the L6 scripts of *labs*, when they are being deployed, or in their life-cycle.

[2015-05-28 09:06] madhavipuliraju commented on #57
Implemented sample python code with the required functionality and tested. working fine.
Now I need to Integrate the same code in CentOSVZAdapter and CentOSVZBridgeAdapter and test them.

[2015-05-28 09:08] madhavipuliraju commented on #57
created a branch on ovpl repository with name =fix-issue-#57= and code was checked in.

[2015-05-28 09:10] madhavipuliraju commented on #49
This issue is resolved and code was checked into =fix-error-msg= branch of ovpl

[2015-05-28 09:21] ksripathi commented on #56
@ecthiender I have already worked on this issue and came up with implementation also later when Thirumal reviewed the code, he suggested me the best of resoving the issue. So I have to rethink about it.

Yes @ecthiender, I will discuss with you about this issue before I will start implementation.

[2015-05-28 09:30] ecthiender commented on #49
Thanks. Once tested, we will close this issue.

On Thu, May 28, 2015 at 2:40 PM, madhavipuliraju <notifications@github.com>
wrote:

[2015-05-28 09:30] ecthiender commented on #57
Once tested, we will close the issue.

On Thu, May 28, 2015 at 2:38 PM, madhavipuliraju <notifications@github.com>
wrote:

[2015-05-29 10:07] madhavipuliraju commented on #57
Integrated the sample code with required functionality to CentOSVZAdapter.py file and after integration, I faced few issues and resolved them. Now the code was working fine and able to deploy the lab. I checked in the code to the same repository.
 @ecthiender can you please review the code.

[2015-06-02 04:17] khushpreet-kaur commented on #58
@travula, Waiting for your reply. I don't know how to start.

[2015-06-02 04:49] khushpreet-kaur commented on #44
Current status: Implementation and testing is done. code is pushed to develop branch.

Need to test after merging this to master branch.

[2015-06-02 04:52] ecthiender commented on #50
@travula can you update the status of this?

[2015-06-03 06:31] madhavipuliraju commented on #57
Implemented code to handle exceptions and integrated to CentOSBridgeVZAdapter.py file and after integration, I faced few issues while testing the code in bridge environment and resolved. Now the code was working fine and able to deploy the lab. I checked in the code to the same repository.
@ecthiender can you please review this code also. and once tested close this issue

[2015-06-04 06:55] ksripathi commented on #56
@travula , @ecthiender

As Anon and I discussed solution for #56 issue we finalized that the following idea will resolve the issue.

Before returning an "ip_address"  from "ovpl/src/adapters/BaseAdapter.py" we calculated "vm_id" based on "ip_address" and tested whether 'vm_id' is already exist or not (container status can be stopped or running)  if it exists we bypass that ip_address and check for

[2015-06-04 10:56] khushpreet-kaur commented on #58
Current Status:
- Initial categorization of log messages
  Categorized log messages for AWSAdapter and CentOSVZAdapter.

[2015-06-05 06:41] khushpreet-kaur commented on #58
Current Status:

    Categorization of log messages is done for following files:

    ControllerServer.py
    LabManager.py
    VMManager.py
    VMPool.py
    AdapterServer.py

[2015-06-08 05:49] ecthiender commented on #48
@ambikakaul keep updating the status of your task here.

[2015-06-08 05:53] khushpreet-kaur commented on #44
CentOSBridgeVZAdapter is pending.

[2015-06-08 05:57] ambikakaul commented on #48
status() function to get status of various services has been written. Working on removing PIDs of dead processes for same service.

[2015-06-08 06:01] khushpreet-kaur commented on #58
Status: Categorization of log messages in all the files except CentOSBridgeVZAdapter.py is done.

- Code is merged to develop. Develop branch is tested and its working fine.

[2015-06-19 05:23] travula opened #63 "Lab ID shoudl not be provided by the ADS user"
The key for the record that is saved into DB during deployment of a lab is
lab_id.  The values used for lab_id are alphanumeric e.g cse02, and are
provided by the lab deployer to deploy a lab.  lab_id is solely used to
uniquely identify a record that is saved during deployment of lab in a database
by ADS; essentially used for book keeping by the ADS.

In any situation, the user of ADS should not b

[2015-06-24 06:35] ksripathi commented on #56
Done

[2015-06-24 06:37] ksripathi commented on #56
execute_command() method has to tested.

[2015-06-24 07:09] travula opened #64 "refactor saving of the lab record during deployment."

[2015-06-24 07:27] travula commented on #43
All the configuration settings specific to each adapter should be in separate files and be part of config directory.  Also, all config files should be sample.

This issue is related to #46

[2015-06-24 07:29] travula commented on #46
related to #43

[2015-06-24 07:34] travula commented on #43
Estimated date of completion is:

[2015-06-24 07:36] travula opened #65 "Save to db - the deployer email ID along with lab details when a lab is deployed"

[2015-06-24 07:41] ecthiender commented on #64
Right now when a lab record is saved, the entire collection is backed up and the entire collection is saved again.
Fix is to save only one record of the lab while saving, and retrieving.

[2015-06-24 07:51] ecthiender commented on #6
When we implement continuous delivery of labs, this will be taken care.

[2015-06-24 07:51] #6 closed

[2015-06-26 07:21] ambikakaul commented on #48
Completed. Review pending.

[2015-06-26 07:24] ambikakaul commented on #46
Started working on AWSAdapter related configuration.

[2015-06-30 07:40] khushpreet-kaur commented on #4
Fixed.  Code is check in "fix-issue-4" branch.
Issue was with mechanism of passing string as mentioned in description.

[2015-06-30 09:27] ecthiender commented on #65
Fixed. Tested. Code review is pending.

Commit can be accessed here: https://github.com/vlead/ovpl/commit/b89a65dbfbed21b038b3290b7398b4f59879922d

[2015-07-01 05:13] ambikakaul commented on #43
1. Refactoring for CentOSVZAdapter is completed, It is tested too.
2. Separated out configurations for CentOSBridgeVZAdapter and AWSAdapter .
3. Testing for both to be done today.

[2015-07-01 09:57] ambikakaul commented on #43
1. Separated out code from configurations of two adapters - CentOSVZ and
    CentOSBridgeVZ.
2. Both are tested and code is checked in.

[2015-07-03 09:26] ambikakaul commented on #43
Lint Cleanup and testing after that is also done.

[2015-07-06 04:42] ambikakaul commented on #43
Apart from AWSAdapter testing, everything else is complete and tested.

[2015-07-07 09:24] khushpreet-kaur opened #67 "ADS does not pull the latest changes once lab is re-deployed"
If test gets failed during lab deployment, ADS does not pull the latest changes of lab's code/repo from github. It uses the same existing repository again for deployment instead of updated one. This needs to be fixed.

[2015-07-07 09:50] ecthiender commented on #67
When ADS has deployed a lab, and the lab needs to be redeployed with
updated changes, ADS doesn't pull the latest changes.

It seems like, ADS just uses the lab from the local cache it maintains.
This also hampers the testing and development process, as it leads to
un-understandable and misleading errors.

On Tue, Jul 7, 2015 at 11:24 AM, Khushpreet Kaur <notifications@github.com>
wrote:

[2015-07-10 04:46] ksripathi commented on #42
Done

Code review is pending.....

[2015-07-10 04:47] ksripathi commented on #41
Done

Code review is pending.....

[2015-07-14 06:01] ambikakaul commented on #43
Issue resolved. Everything is tested too.

[2015-07-23 05:45] #65 closed

[2015-07-23 05:45] #56 closed

[2015-07-23 05:45] #53 closed

[2015-07-23 05:46] #50 closed

[2015-07-23 05:46] #49 closed

[2015-07-23 05:46] #44 closed

[2015-07-23 05:46] #4 closed

[2015-07-23 05:47] #43 closed

[2015-07-23 05:47] #46 closed

[2015-07-23 05:47] #64 closed

[2015-07-23 05:47] #3 closed

[2015-07-23 05:47] #41 closed

[2015-07-23 05:47] #48 closed

[2015-07-23 05:47] #42 closed

[2015-07-23 05:47] #57 closed

[2015-07-23 05:47] #37 closed

[2015-09-10 06:14] khushpreet-kaur opened #68 "manage-services say `mongodb service started` even though mongodb is not installed"
When `./manage-services.sh start` is executed, even though `mongodb` is not installed, the output says `mongodb service started successfully` which is misleading!

I wasted sometime thinking everything is fine, only to realize that mongodb is not even installed.

`manage-services.sh` should give correct output messages.

Please see attached screenshot for more details.

Steps to reproduce:
1. Unin

[2015-09-14 08:47] ambikakaul commented on #68
Fixed. Changes are pushed to manage-services branch of ovpl.

On Thu, Sep 10, 2015 at 11:44 AM, Khushpreet Kaur <notifications@github.com>
wrote:

[2015-10-28 11:11] travula opened #69 "same label 'created by ADS' for all the vms on AWS"
All the vms have the same label - 'created by AWS'.  ADS will use dataservice to get the domain name of the lab and use this to populate the label when creating the lablel.

[2016-01-20 04:46] travula commented on #67
Fixed

[2016-01-20 04:46] #67 closed

[2016-03-08 04:52] khushpreet-kaur opened #74 "ADS Login: SSLError: SSL3_GET_SERVER_CERTIFICATE:certificate verify failed"
While logging in to ads (http://ads.base4.vlabs.ac.in:8080/login). I am getting the following error:
` SSLError: [Errno 1] _ssl.c:492: error:14090086:SSL routines:SSL3_GET_SERVER_CERTIFICATE:certificate verify failed`

Please see attached screen shot for more detail.
![screenshot from 2016-03-08 10 12 03](https://cloud.githubusercontent.com/assets/8623775/13592360/7aca7ec6-e517-11e5-876e-ea044074a

[2016-11-17 10:47] ksripathi opened #75 "Moving out of personal authentication"
As persona is going to shutdown their service from 30th Nov 2016 ADS is no longer to use this service.
Hence alternately we should move to Google Oauth or any other third party service.

[2017-06-13 05:17] savarmehrotra opened #76 "Implement Web Scokets"
Create web sockets to display the installation log messages while deploying a service/lab.

[2017-06-14 04:11] sivashankerN opened #77 "ADS issue when running ./manage_services.sh start"
Getting following error

mongod (pid 14977) is running...
Starting all services.
http logging service started
localhost:8239
localhost:8239
ERROR:tornado.general:Uncaught exception
Traceback (most recent call last):
  File "/usr/lib/python2.6/site-packages/tornado-4.5.1-py2.6-linux-x86_64.egg/tornado/http1connection.py", line 722, in _server_request_loop
    ret = yield conn.read_response(request_

[2017-06-14 11:54] savarmehrotra commented on #76
The initial Design has been approved and pushed https://github.com/savarmehrotra/ovpl/tree/savar_dev/outputConsole

[2017-06-15 03:58] travula commented on #77
@ksripathi

can you look into it?

[2017-06-20 04:59] savarmehrotra commented on #76
The front end has been implemented on the ads-web.Back end is also ready on the http-logger server.Certain issues with the testing environment and are being faced on the base4 machine

[2017-06-27 10:50] sivashankerN commented on #77
The above error is occurring because of the proxy in our network.
@ksripathi Sripathi and I tried modified ovpl code ( which was modified in cluster-automation machine) on base4 cluster setup. There is no error on base4.

We should have solution for ADS running under " NETWORK-PROXY" environment.

[2017-07-03 11:15] ksripathi commented on #76
ADS running on OpenVZ container is not responding to websocket (ws) requests from javascript various same code is working as base machine running Ubunutu14.04 OS

[2017-07-04 04:38] kraghupathi opened #78 "ADS issue when deploying LdD server using centos-6.9 template on base4 machine"
Please follow the [link](https://github.com/vlead/vlabs-learn-by-doing/issues/1). Kindly help to fix this issue as soon as possible.

[2017-07-05 05:17] ksripathi opened #79 "Create CentOS6.9 x86_64 template for ADS to support and install services/labs"
Currently ADS service's centos_bridge adapter is functioning (can deploy labs/services) only with ubuntu vms/containers there is no provision to install labs/services which runs on centos.

Adapter functionality has to be enhanced to support centos as well

[2017-07-05 09:16] kraghupathi commented on #79
@ksripathi : Created a **centos-6.9-x86-64-with-emacs** template on Base4 machine and also installed tornado, pip and emacs.

Also tested running make file for feedback portal and its woking.

[2017-07-05 17:11] ksripathi commented on #78
work is in progress implemented the code part test cases are in progress shall update here as soon as it finishes

[2017-07-06 02:00] ksripathi commented on #79
CentOS container is created based on lab-specifications data using ADS. Container is unable to ping external network there is an issue connecting to internet

@shashankviswanadha
Can you please look into it

[2017-07-06 06:18] ksripathi commented on #79
above issue refers to @sivashankerN

[2017-07-06 07:06] ksripathi commented on #79
Resolved issue by removing bridge related configuration in /etc/sysconfig/network file

[2017-07-06 09:35] ksripathi commented on #78
ADS is functioning to support centos templates.

[2017-07-06 09:51] ksripathi commented on #78
@kraghupathi

Now you can use ADS on base4 machine to deploy the centos based labs/services

[2017-07-10 06:32] sivashankerN opened #80 "Add feature to ADS: Pull the changes from repository."
Feature for ADS:

**Current issue with ADS setup**: If we want to deploy same lab again ( once it is hosted/deployed using ADS) and again, ( present situation) we have to remove/delete corresponding repository instead of pulling changes made in the repository. Then only we are able to deploy same lab again using ADS.

**Feature** :
Instead of deleting ( manually ) corresponding lab repository in A

[2017-07-10 06:32] sivashankerN commented on #80
@travula @ksripathi @madhavipuliraju

[2017-07-10 10:38] ksripathi commented on #80
Git version  > 1.7 version provides easy way to pull the existing repository usings **-C** argument

git  -C /path pull remote branch

we should upgrade git version in all ADS machines to support git pull functionality

[2017-07-10 10:38] ksripathi commented on #80
Reference : https://stackoverflow.com/questions/9155653/git-pull-and-specify-directory

[2017-07-10 10:50] ksripathi commented on #80
This issue is fixed and it will be available in next release of ADS

[2017-07-10 11:13] ksripathi opened #81 "Upgrade git version on staging and testing server running ADS"

[2017-07-10 11:15] ksripathi commented on #81
Git version > 1.7 needs to be updated for ease of git pull function to work using command argument **-C**

[2017-07-11 10:40] #81 closed

[2017-07-11 10:40] #80 closed

[2017-07-11 10:41] #79 closed

[2017-07-11 10:41] #78 closed

[2017-07-18 09:58] kraghupathi opened #82 "ADS issue when running deploying a lab"
Getting following error while deploying a lab on Base1 server

`File "/usr/lib/python2.6/site-packages/Flask-0.11.1-py2.6.egg/flask/app.py", line 1639, in full_dispatch_request
rv = self.dispatch_request()
File "/usr/lib/python2.6/site-packages/Flask-0.11.1-py2.6.egg/flask/app.py", line 1625, in dispatch_request
return self.view_functions[rule.endpoint](**req.view_args)
File "/var/www/html/ads-web

[2017-07-18 11:36] sivashankerN commented on #82
@kraghupathi  start ./mange-service first and then start app.py in backgroud

[2017-07-18 16:48] ksripathi commented on #82
We should host ADS web-app using nginx, wsgi and gunicorn instead of
running web-app everytime manually

On Tue, Jul 18, 2017 at 5:06 PM, sivashankerN <notifications@github.com>
wrote:

[2017-07-19 05:30] kraghupathi commented on #82
@sivashankerN : I tried to run `/manage-service stop`  and `/manage-service start`
But will getting following error
`mongod (pid 11658) is running...
Starting all services.
Traceback (most recent call last):
  File "src/httplogging/http_logging_server.py", line 16, in <module>
    from utils.envsetup import EnvSetUp
  File "/root/ovpl/src/utils/envsetup.py", line 5, in <module>
    from config.ada

[2017-07-19 06:41] ksripathi commented on #82
@kraghupathi

It looks like mis configuration made to base_config file I will look into this and shall update the status here

[2017-07-19 06:45] ksripathi commented on #82
@kraghupathi

Its working now please check it and confirm

`http logging service started
10.100.1.9:8239
10.100.1.9:8239
/root/logs/ovpl.log
[D 170719 02:44:33 git_commands:26] GIT_CLONE_LOC = /root/labs/
[D 170719 02:44:33 git_commands:27] LAB_SPEC_DIR = /scripts/
[D 170719 02:44:33 git_commands:28] LAB_SPEC_FILE = labspec.json
[D 170719 02:44:33 adapter_server:92] module_name = centos_bridged_ad

[2017-07-19 11:30] sivashankerN commented on #82
@ksripathi what changes you have made to solve this issue.  Could you please update here

[2017-07-19 11:31] sivashankerN commented on #82
@ksripathi what was the issue?

[2017-08-08 09:32] kraghupathi opened #83 "Unable to deploy a lab on prouction using ADS"
Please fix this [issue](https://bitbucket.org/vlead/systems/issues/201/deploy-lab-data-service-on-production) in ADS on production

[2017-08-17 17:41] ksripathi commented on #77
This issue is raised because of running tornado==4.5.1 version.

Try to downgrade this to tornado==4.3
pip uninstall tornado==4.5.1
pip install tornado==4.3

This will resolve above issue

[2017-08-17 17:53] ksripathi commented on #83
resolved and documented at https://bitbucket.org/vlead/systems/issues/201/deploy-lab-data-service-on-production

[2017-08-18 04:40] ksripathi opened #84 "create vagrant ads-dev-box with openvz in it"

[2017-08-24 02:38] ksripathi commented on #84
Document for running ADS from existing vagrant box : https://github.com/vlead/setup-ovpl-centos/blob/develop/user-docs/run-ads-using-vagrant-box.org#run-ads-on-existing-vagrant-box
Document for creating vagrant box which comes with ADS : https://github.com/vlead/vlead-templates/blob/develop/vagrant-boxes/setup-ads-on-centos.org

Vagrant box published : http://files.vlabs.ac.in/downloads/vagrant-bo

[2017-09-21 05:15] kraghupathi opened #85 "Unable to deploy a lab on cluster automation machine using ADS"
Please fix this [issue](https://gitlab.com/vlead-systems/cluster-automation/issues/20) in ADS on cluster automation machine as soon as possible.

ADS URL : http://ads.ovpl.virtual-labs.ac.in:8080/

[2017-09-21 05:45] ksripathi commented on #85
@kraghupathi

I will  look into it this afternoon

[2017-09-26 04:34] kraghupathi commented on #85
Reminder

[2017-10-03 14:20] ksripathi commented on #85
This issue is fixed by exporting proxy for `http` and `https` and by unset proxy to `localhost`
this is documented at step(13) at [link](https://github.com/vlead/setup-ovpl-centos/blob/develop/user-docs/run-ads-using-vagrant-box.org#steps-to-run-ads-service)

hence i am closing this issue
reopen it if you face same issue

[2017-10-03 14:20] #85 closed

[2017-10-09 05:13] kraghupathi opened #86 "Unable to deploy footer service on Base1 machine using ADS"
Unable to deploy footer-service on Base1 machine using ADS, while deploying footer-service it will getting following error
`10/09/2017 01:09:54 AM: DEBUG: /root/ovpl/src/utils/execute_commands.py:28  -> command: git --git-dir=/root/labs//.git --work-tree=/root/labs/ reset --hard
10/09/2017 01:09:54 AM: ERROR: /root/ovpl/src/utils/git_commands.py:81  -> Error Resetting the repository: 'CalledProces

[2017-10-09 06:01] ksripathi commented on #86
Resolved by restarting the services

[2017-10-09 06:02] #86 closed

[2017-10-09 06:25] kraghupathi commented on #86
@ksripathi :
Please mention the steps, what you fixed in ADS.

[2017-10-16 07:02] travula opened #87 "Unable to deploy a lab"
[refer here](https://github.com/vlead/vlabs-platform/issues/15#issuecomment-333838942)

[2018-02-05 11:23] mrikum7 opened #89 "What is the secret key of ADS?"

[2018-02-06 05:51] mrikum7 opened #90 "Failed while creating VM"
[E 180206 11:17:58 controller:89] test_lab(): Test failed with error: VMPool: create_vm(): Error creating VM: VMPool: create_vm(): Error creating VM: Failed while creating VM.

I ran into this problem, is there any solution for this?

[2018-02-06 05:52] #89 closed

[2018-02-06 06:06] ksripathi commented on #90
@mrikum7

Please attach the log file

[2018-02-06 09:11] mrikum7 commented on #90
[ovpl.log](https://github.com/vlead/ovpl/files/1698405/ovpl.log)

[2018-02-06 09:12] mrikum7 commented on #90
02/06/2018 10:54:20 AM: DEBUG: src/adapters/adapter_server.py:80  -> __main__()
02/06/2018 10:54:20 AM: DEBUG: /root/ovpl/src/utils/git_commands.py:26  -> GIT_CLONE_LOC = /root/labs/
02/06/2018 10:54:20 AM: DEBUG: /root/ovpl/src/utils/git_commands.py:27  -> LAB_SPEC_DIR = /scripts/
02/06/2018 10:54:20 AM: DEBUG: /root/ovpl/src/utils/git_commands.py:28  -> LAB_SPEC_FILE = labspec.json
02/06/2018 10

[2018-02-06 11:27] ksripathi commented on #90
@mrikum7

Please try to execute below command from the machine where ADS(ovpl) is running

ssh -o "StrictHostKeyChecking no" root@10.42.0.7 "/usr/sbin/vzctl create 2 --ostemplate ubuntu-12.04-custom-x86_64 --ipadd 10.42.0.2 --diskspace 10G:15.0G --hostname 1.base4.vlabs.ac.in"

[2018-02-12 06:38] mrikum7 opened #91 "Error : 500, Could not connect to localhost:27017"
I'm receiving this error while downloading the git repository of the virtual lab. Here is the log of it.

DEBUG in api [/var/www/html/ads-web-app/api.py:54]:
lab_id = 1, lab_src_url=https://github.com/virtual-labs/virtual-microwave-laboratory-dei.git, version=master, key=asdahosfnwnskcskoswo,
--------------------------------------------------------------------------------
[E 180212 11:59:36 web:10

[2018-02-13 10:06] mrikum7 opened #92 "test_lab(); Test failed with error:Test lab failed"
I am receiving this error when I try to download the git source of the virtual lab. I am using CentOS 6.9
[ovpl.log](https://github.com/vlead/ovpl/files/1719468/ovpl.log)

[2018-02-13 10:41] #90 closed

[2018-02-13 15:55] ksripathi commented on #92
I will look into this and update you

On Feb 13, 2018 3:36 PM, "mrikum7" <notifications@github.com> wrote:

[2018-02-14 04:36] ksripathi commented on #92
@mrikum7

From the attached log file I observed that ADS is failed to execute labspec.json shell commands. Can you please also send log file which is created inside the container during the deployment. (you can find it in /root/vm.log inside container)

[2018-02-14 05:49] mrikum7 commented on #92
No Sir I m not using the container. I'm running the ADS server on CentOS 6.9 machine directly.

[2018-02-14 06:04] mrikum7 commented on #92
If you are talking about the vz container then here's the log file...
[vm.log](https://github.com/vlead/ovpl/files/1722832/vm.log)

[2018-02-15 05:51] ksripathi commented on #92
@mrikum7

Above attached vm.log file clearly states that there is an error while running `sudo apt-get update` command  inside the container. It is supposed to be  `sudo apt-get update -y`
I recommend execute all labpsec.json file commands manually on container before proceeding ADS  deployment. This will ease your deployment

[2018-02-15 05:53] ksripathi commented on #91
@mrikum7

Still it is throwing same error ?

[2018-02-15 05:54] mrikum7 commented on #92
Okay how do I do that. I mean how can I open the shell in container.
Also the file states that there is some socket error.

[2018-02-15 05:56] mrikum7 commented on #91
No it is not. I upgraded the python packages that solved that problem.

[2018-02-15 05:56] #91 closed

[2018-02-15 07:29] ksripathi commented on #92
@mrikum7

Please refer to [link](https://github.com/vlead/setup-ovpl-centos/blob/master/user-docs/intro-to-openvz.org#introduction-to-openvz) for more info on openvz

Also make sure that container that created has internet connection

[2018-02-15 07:35] mrikum7 commented on #92
What I have found out is, it is not able to connect to the internet
But my computer has the internet connection.

[2018-02-15 08:27] ksripathi commented on #92
@mrikum7
Please take help of concern system admin at your college

[2018-02-16 07:26] mrikum7 commented on #92
I contacted the admin and he said that the problem is with the container.

[2018-03-05 09:18] mrikum7 opened #93 "New Github Repo for DEI Microwave Virtual Lab"
Hello,
I have updated the source code of DEI's Microwave Virtual Lab, earlier it had few problems but now it is running fine. The new Github repo for it is https://github.com/mrikum7/microwave-virtual-lab.git

[2018-03-05 09:28] ksripathi commented on #93
@mrikum7

This issue should be raised in [engineer forum](https://github.com/virtual-labs/engineers-forum/issues) also please specify the issue clearly

[2018-06-29 09:29] fireballpoint1 opened #94 "unable to deploy quantum-chemistry-iiith Lab using ads in local environment (vagrant)"
During the deployment of lab caught following error
[code]

[2018-07-02 06:07] sivashankerN commented on #94
There is a problem in DISKINODES in OpenVZ container.
Modified DISKINODES value in OpenVZ configuration file  `/etc/vz/conf/*vswap-256m*` and this file used in `/etc/vz/vz.conf` to create container with default values.